*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #666;

  /* for sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

a {
  color: #4a90e2;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:not(.btn):hover {
  color: #4872a2;
}

p + a:not(.btn) {
  font-size: 13px;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  font-weight: 300;
  color: #252525;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

@media (min-width: 992px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 33px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 20px;
  }
}

img {
  max-width: 100%;
}

label {
  display: inline-block;
  font-size: 12px;
  color: #666666;
  margin-bottom: 3px;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
  min-height: 50px;
}

/* Global */
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.lead {
  font-size: 16px;
  color: #808080;
  font-weight: 300;
}

@media (min-width: 992px) {
  .lead {
    font-size: 19px;
  }
}

.section-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-grey {
  border-top: 1px solid #ebebeb;
  background-color: #d1e0e0;
}

.section-grey-botton {
  border-top: 1px solid #ebebeb;
  background-color: #d1e0e0;
}

.img-shadow {
  box-shadow: 0 23px 40px rgba(0, 0, 0, 0.2);
}

.img-rounded {
  border-radius: 6px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

/* Buttons */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  border-radius: 6px;
  padding: 5px 35px;
  transition: 0.1s linear;
}

.btn-primary {
  background-color: #4a90e2;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 13px;
}

.btn-primary:hover {
  background-color: #609de6;
  transform: translate3d(0, -2px, 0);
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 66px;
  z-index: 2;
}

.navbar > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar-brand img {
  max-width: 160px;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav ul {
  display: flex;
  list-style: none;
  margin-left: -15px;
  margin-right: -15px;
}

.navbar-nav li {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-nav li a {
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.6;
  letter-spacing: 0.5px;
  transition: opacity 0.3s ease;
}

.navbar-nav li a:hover {
  color: #4872a2;
  opacity: 1;
}

@media (max-width: 500px) {
  .navbar-brand {
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 10px;
  }
  .navbar-brand img {
    max-width: 130px;
  }
  .navbar-nav {
    margin: 0 auto;
  }
}

/* Services Section */
.services {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
}

.service-col {
  max-width: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.service {
  padding: 25px;
  border: 1px solid #ececec;
  border-radius: 6px;
}

.service img {
  opacity: 0.6;
  max-width: 170px;
  margin-bottom: 24px;
}

.service h4 {
  font-weight: 400;
  margin-bottom: 12px;
}

.service p {
  max-width: 280px;
  margin: 0 auto 30px auto;
  font-size: 13px;
  line-height: 1.7;
}

@media (min-width: 768px) {
  .service-col {
    max-width: calc(100% / 3);
    width: 100%;
    margin-bottom: 0;
  }
}

/* Split Section */
.split-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.split-section__image {
  order: -1;
  margin-bottom: 40px;
}

.split-section__image,
.split-section__text {
  max-width: 100%;
  width: 100%;
}

.split-section h2,
.split-section p {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .split-section {
    margin-left: -25px;
    margin-right: -25px;
  }
  .split-section__image {
    order: initial;
    margin-bottom: 0;
  }
  .split-section__image,
  .split-section__text {
    max-width: 50%;
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
  }
}

/* Footer */
.footer-row {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-copyright {
  opacity: 0.6;
}

.footer-social {
  display: flex;
  list-style: none;
  align-items: center;
}

.footer-social li {
  padding-left: 8px;
  padding-right: 8px;
}

.footer-social a {
  opacity: 0.6;
}

.footer-social a:hover {
  opacity: 1;
}

.footer-social img {
  max-width: 18px;
}

.contact-info {
  list-style-type: none;
}

.contact-info img {
  max-width: 18px;
}

.contact-info a {
  display: flex;
  justify-content: left;
  align-items: center;
}

.contact-info pre {
  font-family: "Open Sans", sans-serif;
  font-size: 27px;
  color: #665;
}

.contact-info pre:hover {
  color: #4a90e2;
}

.contact-info img {
  max-width: 27px;
}

.section-padding-down {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* @media only screen and (min-width: 992px) {
  .service-col {
    max-width: 100%;
    width: 100%;
  } */
/* .card-body {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */
